@charset "UTF-8";
/*FUENTES  
Raleway = font-family: 'Raleway'
PT Sans = font-family: 'PT Sans'
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', 'PT Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

.navBarMovible {
  position: sticky;
  top: 0;
  z-index: 100;
  width: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(117, 12, 10, 0.902));
  border-bottom: 3px solid white;
  display: flex;
  justify-content: space-between;
  /*--Barras de Navegacion-- */
}

.navBarMovible .logoNavBar {
  width: 9rem;
  height: 8rem;
}

.navBarMovible .navBarMovible__barra {
  display: flex;
}

.navBarMovible .navBarMovible__barra .navBarMovible__botonMenuHamburguesa {
  background-color: white;
  font-size: 2rem;
}

.navBarMovible .navBarMovible__barra .navBarMovible__enLinea {
  list-style-type: none;
  font-size: 30px;
  display: flex;
}

.navBarMovible .navBarMovible__barra .navBarMovible__enLinea .nav-item {
  margin: 0.5rem;
  font-weight: 500;
}

.navBarMovible .navBarMovible__barra .navBarMovible__enLinea .nav-item .nav-link {
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  transition: all 0.3s;
  font-size: 2.3rem;
  color: black;
}

.navBarMovible .navBarMovible__barra .navBarMovible__enLinea .nav-item a:hover {
  letter-spacing: 2px;
  color: white;
  font-weight: 500;
  background-color: #770c0a;
}

/*-----------HEADERS-------*/
.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../images/fondoHeader.jpg);
  background-repeat: repeat-x;
  border-bottom: 3px solid rgba(0, 0, 0, 0.7);
}

.header .banner {
  display: flex;
  flex-direction: column;
}

.header .banner p,
.header .banner span {
  font-size: 7rem;
  text-align: center;
  font-family: Aleo;
  font-weight: 300;
}

.header .banner .caja-negra {
  background-color: black;
  height: 9rem;
  width: 48rem;
  align-self: center;
  margin-bottom: 9px;
}

.header .banner:hover .maquina-escribir {
  visibility: visible;
}

.header .banner .maquina-escribir {
  color: white;
  background-color: black;
  position: relative;
  visibility: hidden;
  padding-left: 2.5rem;
}

.header .banner .maquina-escribir::after {
  content: "";
  border-left: 3px solid #770c0a;
  background-color: black;
  right: 0;
  height: 105%;
  position: absolute;
  animation: maquinaescribir 3s infinite alternate steps(17);
}

@keyframes maquinaescribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/*-------------- FIN HEADERS------------ */
/* ---------INDEX----------- */
.section {
  margin: 2rem 0rem 1rem 4rem;
}

.section .section__fotoMia {
  width: 25rem;
  height: 25rem;
  transition: all 1.5s;
  border: 4px solid rgba(66, 8, 7, 0.7);
  padding: 0;
  margin-bottom: 2rem;
}

.section .section__fotoMia:hover {
  transform: scale(1.1);
  border: 4px solid white;
}

.section .section__tituloResumenPortfolio {
  padding-left: 4rem;
  background-color: rgba(129, 129, 129, 0.4);
}

.section .section__carrusel {
  width: 50%;
}

.section .section__carrusel img {
  min-width: 400px;
  min-height: 250px;
  max-width: 1300px;
  max-height: 800px;
}

.section .section__carrusel h5 a {
  background-color: rgba(117, 12, 10, 0.902);
  color: white;
}

.section .section__carrusel h5 a:hover {
  color: #5959ff;
}

.section .section__carrusel p {
  background-color: rgba(117, 12, 10, 0.902);
  color: white;
}

.section .section__segundoParrafo {
  text-align: center;
  font-size: 2rem;
}

/*---------------------------*/
/*--------- SOBRE MI ------- */
.containerSobreMi {
  display: flex;
  flex-direction: column;
}

.containerSobreMi .containerSobreMi__titulo {
  height: 4.5rem;
  width: 90%;
  font-size: 4rem;
  padding-left: 2rem;
  border-radius: 5px;
  align-self: center;
  margin: 3rem 0;
}

.containerSobreMi .containerSobreMi__seccionUno {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.containerSobreMi .containerSobreMi__seccionUno .seccionUno__parrafoSobreMi {
  width: 46%;
  margin-left: 3rem;
  align-self: center;
}

.containerSobreMi .containerSobreMi__seccionUno .seccionUno__fotosMias {
  width: 40%;
  transition: all 1.5s;
  border: 4px solid rgba(66, 8, 7, 0.7);
}

.containerSobreMi .containerSobreMi__seccionUno .seccionUno__fotosMias:hover {
  border: 4px solid white;
  transform: scale(1.05);
}

.containerSobreMi .containerSobreMi__tituloHobbies {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #9b3737;
  width: 60%;
  font-size: 4rem;
  color: white;
  padding: 0;
  margin-bottom: 3rem;
}

.containerSobreMi .containerBasquet__imgBasquet,
.containerSobreMi .containerDispositivos__imgDispositivos,
.containerSobreMi .containerTrekking__imgTrekking,
.containerSobreMi .containerDeporte__imgDeporte {
  height: 25rem;
  background-image: radial-gradient(white, black);
  border-radius: 2rem;
  justify-self: center;
  transition: all 2s;
}

.containerSobreMi div {
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
}

.containerSobreMi div .containerSobreMi__containerDispositivos {
  display: flex;
  justify-content: space-around;
}

.containerSobreMi div .containerSobreMi__containerDispositivos .containerDispositivos__imgDispositivos {
  margin-left: 3rem;
}

.containerSobreMi div .containerSobreMi__containerDispositivos:hover .containerDispositivos__imgDispositivos {
  transform: scale(1.1);
  border: 4px solid white;
}

.containerSobreMi div .containerSobreMi__containerDispositivos:hover .containerDispositivos__cita-tecnologia {
  opacity: 1;
}

.containerSobreMi div .containerSobreMi__containerDispositivos .containerDispositivos__cita-tecnologia {
  align-self: center;
  text-align: center;
  opacity: 0;
  transition: opacity 1s linear;
}

.containerSobreMi div .containerSobreMi__containerBasquet {
  display: flex;
  justify-content: space-around;
}

.containerSobreMi div .containerSobreMi__containerBasquet:hover .containerBasquet__imgBasquet {
  transform: scale(1.1);
  border: 4px solid white;
}

.containerSobreMi div .containerSobreMi__containerBasquet:hover .containerBasquet__cita-basquet {
  opacity: 1;
}

.containerSobreMi div .containerSobreMi__containerBasquet .containerBasquet__cita-basquet {
  align-self: center;
  text-align: center;
  opacity: 0;
  transition: opacity 1s linear;
}

.containerSobreMi div {
  display: flex;
  margin-bottom: 3rem;
  width: 100%;
}

.containerSobreMi div .containerSobreMi__containerTrekking {
  display: flex;
  justify-content: space-around;
}

.containerSobreMi div .containerSobreMi__containerTrekking:hover .containerTrekking__imgTrekking {
  transform: scale(1.1);
  border: 4px solid white;
}

.containerSobreMi div .containerSobreMi__containerTrekking:hover .containerTrekking__cita-senderismo {
  opacity: 1;
}

.containerSobreMi div .containerSobreMi__containerTrekking .containerTrekking__cita-senderismo {
  align-self: center;
  text-align: center;
  opacity: 0;
  transition: opacity 1s linear;
  margin-left: 3rem;
}

.containerSobreMi div .containerSobreMi__containerDeporte {
  display: flex;
  justify-content: space-around;
}

.containerSobreMi div .containerSobreMi__containerDeporte:hover .containerDeporte__imgDeporte {
  transform: scale(1.1);
  border: 4px solid white;
}

.containerSobreMi div .containerSobreMi__containerDeporte:hover .containerDeporte__cita-deporte {
  opacity: 1;
}

.containerSobreMi div .containerSobreMi__containerDeporte .containerDeporte__cita-deporte {
  align-self: center;
  text-align: center;
  opacity: 0;
  transition: opacity 1s linear;
}

.containerSobreMi .containerDispositivos__cita-tecnologia,
.containerSobreMi .containerTrekking__cita-senderismo,
.containerSobreMi .containerDeporte__cita-deporte,
.containerSobreMi .containerBasquet__cita-basquet {
  font-size: 2rem;
  width: 40%;
}

/*-------------PORTFOLIO---------------*/
.tituloH1Portfolio {
  margin-top: 3rem;
  width: 80%;
  margin-left: 5rem;
  padding-left: 3rem;
  background-color: rgba(66, 66, 66, 0.5);
  border-radius: 5px;
}

.containerProyectoUno {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.containerProyectoUno .containerProyectoUno__titulosH2 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: white;
  background-color: rgba(192, 85, 85, 0.7);
  margin: 2rem 0rem;
  padding-left: 1rem;
  border-radius: 5px;
  width: 80%;
}

.containerProyectoUno .containerProyectoUno__parrafo {
  width: 50%;
  align-self: center;
  margin-left: 2rem;
}

.containerProyectoDos {
  margin-top: 6rem;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.containerProyectoDos .containerProyectoDos__titulosH2 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: white;
  background-color: rgba(192, 85, 85, 0.7);
  margin-bottom: 15px;
  padding-left: 1rem;
  border-radius: 5px;
  width: 80%;
}

.containerProyectoDos .containerProyectoDos__parrafo {
  width: 50%;
  align-self: center;
}

.containerProyectoTres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.containerProyectoTres .containerProyectoTres__titulosH2 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: white;
  background-color: rgba(192, 85, 85, 0.7);
  margin: 2rem 0rem;
  padding-left: 1rem;
  border-radius: 5px;
  width: 80%;
}

.containerProyectoTres .containerProyectoTres__parrafo {
  width: 50%;
  align-self: center;
  margin-left: 2rem;
}

.containerProyectoTres .imagenesPortfolio {
  width: 600px;
  height: 450px;
}

.containerProyectoDos h2,
.containerProyectoUno h2 {
  width: 60%;
}

.imagenesPortfolio {
  align-self: center;
  min-width: 400px;
  min-height: 250px;
  max-width: 750px;
  max-height: 500px;
}

/*---------------FIN PORTFOLIO--------------------*/
/*------------- SERVICIOS ------------ */
.servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.servicios p {
  width: 60%;
}

.servicios img {
  background-color: #6b6b6b;
  width: 30rem;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 15px;
}

.servicios .servicios__titulosH1 {
  font-size: 40px;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 4rem 0rem 0rem 0rem;
  color: black;
  border-radius: 5px;
}

.servicios .servicios__titulosH2Uno,
.servicios .servicios__titulosH2Dos {
  font-size: 35px;
  color: black;
  background-color: rgba(192, 85, 85, 0.6);
  margin-top: 0px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.servicios .servicios__servicioUno,
.servicios .servicios__servicioDos {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-right: 9px solid #6b6b6b;
  align-items: center;
}

.servicios .servicios__servicioDos {
  border: none;
  border-left: 9px solid #6b6b6b;
}

/* ----------------------------------- */
/* ------------ CONTACTO -------------- */
.formulario {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;
}

.formulario .formulario__tituloH1 {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: #424242;
  border-radius: 5px;
}

.formulario legend {
  font-size: 3rem;
  color: white;
  background-color: #420706;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.formulario input,
.formulario select,
.formulario label {
  font-size: 2rem;
  color: white;
  font-weight: 400;
}

.formulario .formulario__containerUno {
  background-color: #770c0a;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: column;
}

.formulario .formulario__containerUno div {
  display: flex;
}

.formulario .formulario__containerUno div input {
  background-color: #770c0a;
  margin: 1rem 0rem 2rem 1rem;
  border: 0;
  border-bottom: 2px solid #240403;
  transition: all 0.3s;
}

.formulario .formulario__containerUno div input:focus {
  outline: none;
  transform: scale(1.1);
  border: 0;
  border-bottom: 2px solid white;
}

.formulario .formulario__containerDos {
  display: flex;
  flex-direction: column;
  background-color: #770c0a;
  margin-top: 1rem;
  padding: 5px 3rem 3rem 3rem;
  border-radius: 8px;
  border: none;
}

.formulario .formulario__containerDos label {
  background-color: #420706;
  border-radius: 8px;
  font-size: 3rem;
  font-weight: 500;
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.formulario .formulario__containerDos input {
  background-color: #770c0a;
  margin: 1rem 0rem 2rem 1rem;
  border: 0;
  border-bottom: 2px solid #240403;
  transition: all 0.3s;
}

.formulario .formulario__containerDos input:focus {
  outline: none;
  transform: scale(1.05);
  border: 0;
  border-bottom: 2px solid white;
}

.formulario .formulario__containerDos .mensaje {
  width: 400px;
  height: 130px;
  border: 2px solid #240403;
  resize: none;
  font-size: 1.5rem;
  transition: all 0.5s;
}

.formulario .formulario__containerDos .mensaje:focus {
  outline: none;
  transform: scale(1.05);
  border: 2px solid black;
}

.formulario .formulario__botonEnviar {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.formulario .formulario__botonEnviar input {
  padding: 0px 5px;
  border: 0;
  color: white;
  background-color: #770c0a;
  font-size: 2.5rem;
  font-weight: 400;
  border-radius: 4px;
  transition: all 0.5s;
}

.formulario .formulario__botonEnviar input:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

/* ---------------------------------- */
.header__error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../images/fondoHeader.jpg);
  background-repeat: repeat-x;
  border-bottom: 3px solid rgba(0, 0, 0, 0.7);
}

.header__error .banner {
  display: flex;
  flex-direction: column;
}

.header__error .banner p,
.header__error .banner span {
  font-size: 4rem;
  text-align: center;
  font-family: Aleo;
  font-weight: 300;
}

.header__error .banner .caja-negra {
  background-color: black;
  height: 5rem;
  width: 30rem;
  align-self: center;
  margin-bottom: 9px;
}

.header__error .banner:hover .maquina-escribir {
  visibility: visible;
}

.header__error .banner .maquina-escribir {
  color: white;
  background-color: black;
  position: relative;
  visibility: hidden;
  padding-left: 2.5rem;
}

.header__error .banner .maquina-escribir::after {
  content: "";
  border-left: 3px solid #770c0a;
  background-color: black;
  right: 0;
  height: 105%;
  position: absolute;
  animation: maquinaescribir 3s infinite alternate steps(17);
}

.footerError {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cajaError {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2rem 0rem 0rem 0rem;
}

.cajaError .gifError__img {
  height: auto;
  width: 35rem;
}

.cajaError .mensajeError {
  width: 45rem;
  height: auto;
  align-self: center;
}

.parrafoError {
  display: flex;
  justify-content: center;
}

.parrafoError a {
  font-weight: 400;
  font-size: 5rem;
  text-decoration: none;
  color: white;
  transition: 1s;
}

.parrafoError a:hover {
  color: #790808;
}

/*CAMBIOS GENERALES*/
p {
  font-size: 25px;
}

/*--Estilos para todos los BODYS */
body {
  width: auto;
  color: white;
  overflow-x: hidden;
  background-color: black;
}

/* Estilos para FOOTERS */
footer {
  /* --------REDES--------- */
}

footer .redesSociales {
  background-image: linear-gradient(rgba(117, 12, 10, 0.9), rgba(0, 0, 0, 0.9));
  display: flex;
  justify-content: space-around;
}

footer .redesSociales a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: all 1.5s;
}

footer .redesSociales a img {
  width: 4rem;
  margin: 0.5rem 0.3rem;
}

footer .redesSociales a:hover {
  transform: scale(1.1);
}

footer p {
  width: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: black;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin: 0;
}

/* --------------------- */
/*------- Titulos H1,H2 ----- */
.titulosH1 {
  color: white;
  font-size: 4rem;
  background-image: linear-gradient(#424242, #6b6b6b);
}

.titulosH2 {
  font-size: 40px;
  color: white;
  border-radius: 0.5rem;
  margin-bottom: 15px;
  width: 85%;
  margin-left: 2rem;
  padding-left: 4rem;
  animation-name: aparecer;
  animation-duration: 3s;
  background-color: #424242;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* ----------------------- */
/* Diseño HASTA 600px */
@media only screen and (max-width: 600px) {
  footer .redesSociales {
    flex-direction: column;
    align-items: center;
  }
  footer p {
    font-size: 1.2rem;
  }
  .header .banner p,
  .header .banner span {
    font-size: 4rem;
  }
  .header .banner .caja-negra {
    width: 29rem;
    height: 5rem;
    display: flex;
    justify-content: center;
  }
  .header .banner .caja-negra .maquina-escribir::after {
    height: 100%;
  }
  .section {
    margin: 4px 6px;
  }
  .section .section__tituloResumenPortfolio {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 90%;
    font-size: 3.1rem;
  }
  .section .section__carrusel {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  /*------ SOBRE MI--------- */
  .containerSobreMi {
    display: flex;
    flex-direction: column;
  }
  .containerSobreMi .containerSobreMi__titulo {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    padding: 0rem;
    height: 55%;
    font-size: 4rem;
    height: 5rem;
  }
  .containerSobreMi .containerSobreMi__seccionUno {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .containerSobreMi .containerSobreMi__seccionUno .seccionUno__fotosMias {
    width: 100%;
    height: auto;
  }
  .containerSobreMi .containerSobreMi__seccionUno .seccionUno__parrafoSobreMi {
    width: 95%;
    margin: 5px;
  }
  .containerSobreMi .containerSobreMi__tituloHobbies {
    justify-self: center;
    height: 5rem;
  }
  .containerSobreMi div {
    display: flex;
    flex-direction: column;
  }
  .containerSobreMi div div {
    margin: 0;
    width: 100%;
  }
  .containerSobreMi div div img {
    width: 25rem;
    height: auto;
    align-self: center;
  }
  .containerSobreMi div div .citas {
    margin-top: 2rem;
    width: 95%;
    font-size: 2.7em;
  }
  .containerSobreMi .containerTrekking__cita-senderismo,
  .containerSobreMi .containerDeporte__cita-deporte {
    order: 1;
  }
  /*-------FIN SOBRE MI-------*/
  /* -----PORTFOLIO---------- */
  .tituloH1Portfolio {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 1rem 0rem 1.5rem 2rem;
    padding: 0;
  }
  .containerProyectoUno .containerProyectoUno__titulosH2,
  .containerProyectoDos .containerProyectoDos__titulosH2,
  .containerProyectoTres .containerProyectoTres__titulosH2 {
    width: 100%;
    font-size: 3rem;
  }
  .containerProyectoUno .containerProyectoUno__parrafo,
  .containerProyectoDos .containerProyectoDos__parrafo,
  .containerProyectoTres .containerProyectoTres__parrafo {
    width: 100%;
    margin: 2px;
  }
  .imagenesPortfolio {
    min-width: 300px;
    min-height: 300px;
    width: 33rem;
    height: auto;
    justify-self: flex-start;
  }
  /* ------FIN PORTFOLIO----- */
  /*-------SERVICIOS---------*/
  .servicios {
    flex-direction: column;
    align-content: center;
    border: 0.5rem solid #c05555;
    padding-bottom: 2rem;
    margin: 1rem 0rem 0rem 0rem;
  }
  .servicios .servicios__titulosH1 {
    align-self: center;
    margin: 0px;
    width: 100%;
    border-radius: 0;
  }
  .servicios .servicios__servicioUno,
  .servicios .servicios__servicioDos {
    width: 100%;
    border: none;
  }
  .servicios .servicios__servicioUno p,
  .servicios .servicios__servicioDos p {
    width: 95%;
  }
  .servicios .servicios__servicioUno {
    border-bottom: 1rem solid rgba(192, 85, 85, 0.5);
  }
  .servicios img {
    width: 80%;
  }
  /*-------FIN SERVICIOS-----*/
  .formulario .formulario__tituloH1 {
    width: 90%;
  }
  .formulario .formulario__containerUno {
    width: 100%;
    margin: 0;
  }
  .formulario .formulario__containerUno legend {
    font-size: 2.5rem;
    width: 100%;
    align-self: center;
  }
  .formulario .formulario__containerUno div {
    justify-content: center;
  }
  .formulario .formulario__containerDos {
    width: 100%;
  }
  .formulario .formulario__containerDos label {
    width: 95%;
    font-size: 2.5rem;
  }
  .formulario .formulario__containerDos input {
    font-size: 1.5rem;
  }
  .formulario .formulario__containerDos .mensaje {
    width: 250px;
    height: 200px;
  }
}

/* -------------------------------------------- */
/*------ Diseño DE 600-1024px ------*/
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  footer p {
    font-size: 1.5rem;
  }
  .section {
    margin: 1rem;
  }
  .section .section__carrusel {
    width: 80%;
  }
  .section .section__carrusel img {
    max-width: none;
  }
  /*----- SOBRE MI -----*/
  .containerSobreMi {
    display: flex;
    flex-direction: column;
  }
  .containerSobreMi .containerSobreMi__titulo {
    height: 4.5rem;
    padding: 2px 0px 6px 3px;
    align-self: center;
  }
  .containerSobreMi .containerSobreMi__seccionUno {
    display: flex;
    flex-direction: column;
  }
  .containerSobreMi .containerSobreMi__seccionUno .seccionUno__fotosMias {
    align-self: center;
    width: 80%;
  }
  .containerSobreMi .containerSobreMi__seccionUno .seccionUno__parrafoSobreMi {
    width: 90%;
  }
  .containerSobreMi .containerSobreMi__tituloHobbies {
    padding: 0;
    width: 70%;
    align-self: center;
    display: flex;
    justify-content: center;
  }
  .containerSobreMi div {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .containerSobreMi div div {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
  }
  .containerSobreMi div div img {
    width: 25rem;
    height: auto;
    align-self: center;
    margin: 2rem;
  }
  .containerSobreMi div div .citas {
    width: 50%;
    font-size: 2.3em;
  }
  .containerSobreMi .containerTrekking__cita-senderismo,
  .containerSobreMi .containerDeporte__cita-deporte {
    order: 1;
  }
  /* --------FIN SOBRE MI---------- */
  /* ------------PORTFOLIO-----------*/
  .containerProyectoUno .containerProyectoUno__parrafo,
  .containerProyectoDos .containerProyectoDos__parrafo,
  .containerProyectoTres .containerProyectoTres__parrafo {
    width: 100%;
    margin: 1.5rem;
  }
  .containerProyectoUno .titulosH2Uno,
  .containerProyectoDos .titulosH2Dos {
    display: flex;
    justify-content: center;
  }
  /*--------FIN PORTFOLIO---------- */
  /*---------- SERVICIOS ----------*/
  .servicios .servicios__titulosH2Uno,
  .servicios .servicios__titulosH2Dos {
    width: 90%;
  }
  .servicios .servicios__descripcionUno,
  .servicios .servicios__descripcionDos {
    width: 90%;
  }
  .servicios img {
    width: 60%;
    height: auto;
  }
  /*--------- FIN SERVICIOS-------- */
}

@media only screen and (min-width: 1440px) {
  p {
    font-size: 3.5rem;
  }
  footer .redesSociales a {
    font-size: 2.5rem;
  }
  footer .redesSociales a img {
    width: 7rem;
    height: auto;
  }
  footer p {
    font-size: 2rem;
  }
  .navBarMovible .logoNavBar {
    width: 15rem;
    height: 13rem;
  }
  .navBarMovible .navBarMovible__barra .navbar-nav .nav-item .nav-link {
    font-size: 3.8rem;
  }
  .section .section__tituloSobreDiseñador {
    display: flex;
    justify-content: center;
    font-size: 7rem;
    padding: 0;
  }
  .section .section__tituloResumenPortfolio {
    display: flex;
    justify-content: center;
    font-size: 7rem;
    padding: 0;
  }
  .section .section__fotoMia {
    width: 60rem;
    height: auto;
  }
  .section .section_primerParrafo {
    width: 50%;
    align-self: center;
    font-size: 4rem;
  }
  .section .section__segundoParrafo {
    font-size: 3.5rem;
  }
  .containerSobreMi .containerSobreMi__titulo {
    font-size: 7rem;
    height: auto;
  }
  .containerSobreMi .containerSobreMi__seccionUno .seccionUno__fotosMias {
    width: 50%;
  }
  .containerSobreMi .containerSobreMi__seccionUno .seccionUno__parrafoSobreMi {
    font-size: 4rem;
  }
  .containerSobreMi .containerSobreMi__tituloHobbies {
    font-size: 6rem;
  }
  .containerSobreMi .containerSobreMi__containerDispositivos img,
  .containerSobreMi .containerSobreMi__containerBasquet img,
  .containerSobreMi .containerSobreMi__containerTrekking img,
  .containerSobreMi .containerSobreMi__containerDeporte img {
    width: 40%;
    height: auto;
  }
  .containerSobreMi .containerSobreMi__containerDispositivos p,
  .containerSobreMi .containerSobreMi__containerBasquet p,
  .containerSobreMi .containerSobreMi__containerTrekking p,
  .containerSobreMi .containerSobreMi__containerDeporte p {
    font-size: 3.4rem;
  }
  .tituloH1Portfolio {
    font-size: 6rem;
  }
  .containerProyectoUno .containerProyectoUno__titulosH2 {
    font-size: 5rem;
  }
  .containerProyectoUno .imagenesPortfolio {
    width: 45%;
  }
  .containerProyectoDos .containerProyectoDos__titulosH2 {
    font-size: 5rem;
  }
  .containerProyectoDos .imagenesPortfolio {
    width: 70rem;
    height: auto;
  }
  .containerProyectoTres .containerProyectoTres__titulosH2 {
    font-size: 5rem;
  }
  .containerProyectoTres .imagenesPortfolio {
    width: 70rem;
    height: auto;
  }
  .containerProyectoTres .containerProyectoTres__parrafo {
    margin-left: 2rem;
  }
  .servicios .servicios__titulosH1 {
    font-size: 7rem;
  }
  .servicios img {
    width: 40rem;
  }
  .servicios .servicios__titulosH2Uno,
  .servicios .servicios__titulosH2Dos {
    font-size: 5rem;
  }
  .servicios p {
    width: 50%;
  }
  .formulario .formulario__tituloH1 {
    font-size: 7rem;
    width: 70%;
    margin-bottom: 2rem;
  }
  .formulario .formulario__form {
    width: 40%;
  }
  .formulario .formulario__form legend {
    font-size: 5rem;
  }
  .formulario .formulario__form input,
  .formulario .formulario__form select,
  .formulario .formulario__form label {
    font-size: 4rem;
  }
  .formulario .formulario__form .formulario__containerUno {
    width: 100%;
  }
  .formulario .formulario__containerDos .mensaje {
    width: 100%;
    height: 250px;
    font-size: 3rem;
  }
}
