/* ------------ CONTACTO -------------- */
.formulario {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0rem;

    .formulario__tituloH1 {
        display: flex;
        justify-content: center;
        width: 50%;
        background-color: rgb(66, 66, 66);
        border-radius: 5px;
    }

    legend {
        font-size: 30px;
        color: white;
        background-color: #420706;
        border-radius: 8px;
        display: flex;
        justify-content: center;
    }
    input,
    select,
    label {
        font-size: 20px;
        color: white;
        font-weight: 400;
    }

    .formulario__containerUno {
        background-color: #770c0a;
        margin-top: 1rem;
        padding: 2rem;
        border-radius: 8px;
        border: none;
        div{
            display: flex;
            
           input {
                background-color:#770c0a ;
                margin: 1rem 0rem 2rem 1rem;
                border: 0;
                border-bottom:2px solid #240403;
                transition: all 0.3s;
                
                &:focus{
                    outline: none;
                    transform: scale(1.1);
                    border: 0;
                    border-bottom:2px solid white;
                }
            }
        }

    }
    .formulario__containerDos {
        display: flex;
        flex-direction: column;
        background-color: #770c0a;
        margin-top: 1rem;
        padding: 5px 3rem 3rem 3rem ;
        border-radius: 8px;
        border: none;

        label{
            background-color: #420706;
            border-radius: 8px;
            font-size: 3rem;
            font-weight:500 ;
            margin: 1rem;
            display: flex;
            justify-content: center;
        }
        input {
            background-color:#770c0a ;
            margin: 1rem 0rem 2rem 1rem;
            border: 0;
            border-bottom:2px solid #240403;
            transition: all 0.3s;
            
            &:focus{
                outline: none;
                transform: scale(1.05);
                border: 0;
                border-bottom:2px solid white;
            }
        }
        .mensaje{
            width:400px;
            height:130px;
            border:2px solid #240403;
            resize: none;
            font-size: 1.5rem;
            transition: all 0.5s;
            &:focus{
                outline: none;
                transform: scale(1.05);
                border: 2px solid black;
            }
        }

    }
    
    .formulario__botonEnviar {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
        input {
            padding: 0px 5px;
            border:0;
            color: white;
            background-color: #770c0a;
            font-size: 2.5rem;
            font-weight: 400;
            border-radius: 4px;
            transition: all 0.5s;

            &:hover{
                background-color: white;
                color: black;
                transform: scale(1.1);
            }
        }
        
    }
}
/* ---------------------------------- */