.header__error {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../images/fondoHeader.jpg);
    background-repeat: repeat-x;
    border-bottom: 3px solid rgba(0, 0, 0, .7);

    .banner {
        display: flex;
        flex-direction: column;
        
        p,
        span {
            font-size: 4rem;
            text-align: center;
            font-family: Aleo;
            font-weight: 300;
        }
        .caja-negra{
            background-color: black;
            height: 5rem;
            width: 30rem;
            align-self: center;
            margin-bottom: 9px;
        }
        &:hover .maquina-escribir{
            visibility: visible;
        }
        .maquina-escribir{
            color:white;
            background-color: black;
            position: relative;
            visibility: hidden;
            padding-left: 2.5rem;
             
            &::after{
                content: "";
                border-left: 3px solid #770c0a;
                background-color: black;
                right: 0;
                height: 105%;
                position: absolute;
                animation: maquinaescribir 3s infinite alternate steps(17);
            }            
        }
    }
}
.footerError {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cajaError {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2rem 0rem 0rem 0rem;


    .gifError__img {
        height: auto;
        width: 35rem;
    }

    .mensajeError{
        width: 45rem;
        height: auto;
        align-self: center;
    }
}
.parrafoError {
    display: flex;
    justify-content: center;

    a {
        font-weight: 400;
        font-size: 5rem;
        text-decoration: none;
        color: white;
        transition: 1s;

        &:hover {
            color: rgb(121, 8, 8);
        }
    }

}