/* Diseño HASTA 600px */
@media only screen and (max-width:600px) {
    footer {
        .redesSociales{
            flex-direction: column;
            align-items: center;
        }
        
        p{
        font-size: 1.2rem;
        }
    }

    //------BANNER-------//
    .header{
        .banner{
            p,
            span{
                font-size: 4rem;
            }

            .caja-negra{
                width: 29rem;
                height: 5rem;
                display: flex;
                justify-content: center;
                
                .maquina-escribir{
                    &::after{
                        height: 100% ;
                    }
                }
            }
        }
    }
    //---------INDEX-----//
    .section {
        margin: 4px 6px;
        .section__tituloResumenPortfolio{
            display: flex;
            justify-content: center;
            padding: 0;
            width: 90%;
            font-size: 3.1rem;
        }
        .section__carrusel {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    //-------------------//
    /*------ SOBRE MI--------- */
    .containerSobreMi {
        display: flex;
        flex-direction: column;

        .containerSobreMi__titulo {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            padding: 0rem;
            height: 55%;
            font-size: 4rem;
            height: 5rem;
        }

        .containerSobreMi__seccionUno {
            display: flex;
            flex-direction: column;
            width: 100%;

            .seccionUno__fotosMias {
                width: 100%;
                height: auto;
            }

            .seccionUno__parrafoSobreMi {
                width: 95%;
                margin:5px;
            }
        }

        .containerSobreMi__tituloHobbies {
            justify-self: center;
            height: 5rem;
        }

        div {
            display: flex;
            flex-direction: column;

            div {
                margin: 0;
                width: 100%;

                img {
                    width: 25rem;
                    height: auto;
                    align-self: center;
                }

                .citas {
                    margin-top: 2rem;
                    width: 95%;
                    font-size: 2.7em;
                }
            }
        }

        //arreglando orden
        .containerTrekking__cita-senderismo,
        .containerDeporte__cita-deporte {
            order: 1;
        }
    }

    /*-------FIN SOBRE MI-------*/
    /* -----PORTFOLIO---------- */
    .tituloH1Portfolio {
        
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 1rem 0rem 1.5rem 2rem;
        padding: 0;
    }

    .containerProyectoUno .containerProyectoUno__titulosH2,
    .containerProyectoDos .containerProyectoDos__titulosH2,
    .containerProyectoTres .containerProyectoTres__titulosH2 {
        width: 100%;
        font-size: 3rem;
    }

    .containerProyectoUno .containerProyectoUno__parrafo,
    .containerProyectoDos .containerProyectoDos__parrafo,
    .containerProyectoTres .containerProyectoTres__parrafo {
        width: 100%;
        margin: 2px;
    }

    .imagenesPortfolio {
        min-width: 300px;
        min-height: 300px;
        width: 33rem;
        height: auto;
        justify-self: flex-start;
    }

    /* ------FIN PORTFOLIO----- */
    /*-------SERVICIOS---------*/
    .servicios {
        flex-direction: column;
        align-content: center;
        border: 0.5rem solid rgb(192, 85, 85);
        padding-bottom: 2rem;
        margin: 1rem 0rem 0rem 0rem;

        .servicios__titulosH1 {
            align-self: center;
            margin: 0px;
            width: 100%;
            border-radius: 0;
        }

        .servicios__servicioUno,
        .servicios__servicioDos {
            width: 100%;
            border: none;
            p{
                width: 95%;
            }
        }

        .servicios__servicioUno {
            border-bottom: 1rem solid rgba(192, 85, 85, .5);
        }

        img {
            width: 80%;
        }
    }
    

    /*-------FIN SERVICIOS-----*/
    //--------CONTACTO--------//
    .formulario {
        .formulario__tituloH1{
            width: 90%;
        }
        .formulario__containerUno{
            width: 100%;
            margin:0;
            
            
            legend{
                font-size: 2.5rem;
                width: 100%;
                align-self: center;
            }
            
            div{
               justify-content: center;
           }
        }
        .formulario__containerDos{
            width: 100%;
            
            label{
                width: 95%;
                font-size: 2.5rem;
            }
            input{
                font-size: 1.5rem;
            }
            .mensaje{
                width: 250px;
                height: 200px;
            }
        }
    }


    
    
    //--------FIN CONTACTO-----//
}

/* -------------------------------------------- */
/*------ Diseño DE 600-1024px ------*/
@media only screen and (min-width: 600px) and (max-width: 1024px) {

    footer p {
        font-size: 1.5rem;
    }

    //---------INDEX-----//
    .section {
        margin: 1rem;

        .section__carrusel {
            width: 80%;
            
            img{
                max-width: none;
            }
           
        }
    }

    //-------------------//
    /*----- SOBRE MI -----*/
    .containerSobreMi {
        display: flex;
        flex-direction: column;

        .containerSobreMi__titulo {
            height: 4.5rem;
            padding: 2px 0px 6px 3px;
            align-self: center;
        }

        .containerSobreMi__seccionUno {
            display: flex;
            flex-direction: column;

            .seccionUno__fotosMias {
                align-self: center;
                width: 80%;
            }

            .seccionUno__parrafoSobreMi {
                width: 90%;
            }
        }

        .containerSobreMi__tituloHobbies {
            padding: 0;
            width: 70%;
            align-self: center;
            display: flex;
            justify-content: center;
        }

        div {
            display: flex;
            flex-direction: column;
            margin:0;
            div {
                display: flex;
                flex-direction: row;
                margin: 0;
                width: 100%;

                img {
                    width: 25rem;
                    height: auto;
                    align-self: center;
                    margin: 2rem;
                }

                .citas {
                    width: 50%;
                    font-size: 2.3em;
                }
            }
        }

        //arreglando orden
        .containerTrekking__cita-senderismo,
        .containerDeporte__cita-deporte {
            order: 1;
        }
    }

    /* --------FIN SOBRE MI---------- */
    /* ------------PORTFOLIO-----------*/
    .containerProyectoUno .containerProyectoUno__parrafo,
    .containerProyectoDos .containerProyectoDos__parrafo,
    .containerProyectoTres .containerProyectoTres__parrafo {
        width: 100%;
        margin: 1.5rem;
    }

    .containerProyectoUno .titulosH2Uno,
    .containerProyectoDos .titulosH2Dos {
        display: flex;
        justify-content: center;
    }

    /*--------FIN PORTFOLIO---------- */
    /*---------- SERVICIOS ----------*/
        
    .servicios{
        .servicios__titulosH2Uno,
        .servicios__titulosH2Dos {
            width: 90%;
        }

        .servicios__descripcionUno,
        .servicios__descripcionDos {
            width: 90%;
        }

        img {
            width: 60%;
            height: auto;

        }
    }
    /*--------- FIN SERVICIOS-------- */
}