.navBarMovible {
    position: sticky;
    top: 0;
    z-index: 100;
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(117, 12, 10, 0.902));
    border-bottom: 3px solid white;
    display: flex;
    justify-content: space-between;
    
    .logoNavBar{
        width: 9rem;
        height: 8rem;
    }
    /*--Barras de Navegacion-- */
    .navBarMovible__barra {
        display: flex;
        .navBarMovible__botonMenuHamburguesa {
            background-color: white;
            font-size: 2rem;
            
        }

        .navBarMovible__enLinea {
            list-style-type: none;
            font-size: 30px;
            display: flex;

            .nav-item {
                margin: 0.5rem;
                font-weight: 500;

                .nav-link {
                    text-decoration: none;
                    padding: 0.2rem 0.5rem;
                    background-color: white;
                    border-radius: 0.5rem;
                    transition: all 0.3s;
                    font-size: 2.5rem;
                    color: black;
                }

                a:hover {
                    letter-spacing: 2px;
                    color: white;
                    font-weight: 500;
                    background-color: #770c0a;
                }
            }
        }
    }

    
}



/*-----------HEADERS-------*/
.header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../images/fondoHeader.jpg);
    background-repeat: repeat-x;
    border-bottom: 3px solid rgba(0, 0, 0, .7);

    .banner {
        display: flex;
        flex-direction: column;
        
        p,
        span {
            font-size: 7rem;
            text-align: center;
            font-family: Aleo;
            font-weight: 300;
        }
        .caja-negra{
            background-color: black;
            height: 9rem;
            width: 48rem;
            align-self: center;
            margin-bottom: 9px;
        }
        &:hover .maquina-escribir{
            visibility: visible;
        }
        .maquina-escribir{
            color:white;
            background-color: black;
            position: relative;
            visibility: hidden;
            padding-left: 2.5rem;
             
            &::after{
                content: "";
                border-left: 3px solid #770c0a;
                background-color: black;
                right: 0;
                height: 105%;
                position: absolute;
                animation: maquinaescribir 3s infinite alternate steps(17);
            }            
        }
    }
}
@keyframes maquinaescribir{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}
/*-------------- FIN HEADERS------------ */
