/*--------- SOBRE MI ------- */
.containerSobreMi {
    display: flex;
    flex-direction: column;

    .containerSobreMi__titulo {
        height: 4.5rem;
        width: 90%;
        font-size: 4rem;
        padding-left: 2rem;
        border-radius: 5px;
        align-self: center;
        margin: 3rem 0;
    }

    .containerSobreMi__seccionUno {
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;

        .seccionUno__parrafoSobreMi {
            width: 46%;
            margin-left: 3rem;
            align-self: center;
        }

        .seccionUno__fotosMias {
            width: 40%;
            transition: all 1.5s;
            border: 4px solid rgba(66, 8, 7, .7);
        }

        .seccionUno__fotosMias:hover {
            border: 4px solid white;
        }
    }

    .containerSobreMi__tituloHobbies {
        align-self: center;
        background-color: #9b3737;
        width: 60%;
        font-size: 4rem;
        padding-left: 6rem;
        color: rgb(255, 255, 255);
        margin-bottom: 3rem;
    }

    .containerBasquet__imgBasquet,
    .containerDispositivos__imgDispositivos,
    .containerTrekking__imgTrekking,
    .containerDeporte__imgDeporte {
        height: 25rem;
        background-image: radial-gradient(white, black);
        border-radius: 2rem;
        justify-self: center;
        transition: all 2s;
    }

    div {
        margin-bottom: 3rem;
        width: 100%;
        display: flex;

        .containerSobreMi__containerDispositivos {
            display: flex;
            justify-content: space-around;

            .containerDispositivos__imgDispositivos {
                margin-left: 3rem;
            }

            &:hover .containerDispositivos__imgDispositivos {
                transform: scale(1.1);
                border: 4px solid white;
            }

            &:hover .containerDispositivos__cita-tecnologia {
                opacity: 1;
            }

            .containerDispositivos__cita-tecnologia {
                align-self: center;
                text-align: center;
                opacity: 0;
                transition: opacity 1s linear;
            }
        }

        .containerSobreMi__containerBasquet {
            display: flex;
            justify-content: space-around;

            &:hover .containerBasquet__imgBasquet {
                transform: scale(1.1);
                border: 4px solid white;
            }

            &:hover .containerBasquet__cita-basquet {
                opacity: 1;
            }

            .containerBasquet__cita-basquet {
                align-self: center;
                text-align: center;
                opacity: 0;
                transition: opacity 1s linear;
            }
        }
    }

    div {
        display: flex;
        margin-bottom: 3rem;
        width: 100%;

        .containerSobreMi__containerTrekking {
            display: flex;
            justify-content: space-around;

            &:hover .containerTrekking__imgTrekking {
                transform: scale(1.1);
                border: 4px solid white;
            }

            &:hover .containerTrekking__cita-senderismo {
                opacity: 1;
            }

            .containerTrekking__cita-senderismo {
                align-self: center;
                text-align: center;
                opacity: 0;
                transition: opacity 1s linear;
                margin-left: 3rem;
            }
        }


        .containerSobreMi__containerDeporte {
            display: flex;
            justify-content: space-around;

            &:hover .containerDeporte__imgDeporte {
                transform: scale(1.1);
                border: 4px solid white;
            }

            &:hover .containerDeporte__cita-deporte {
                opacity: 1;
            }

            .containerDeporte__cita-deporte {
                align-self: center;
                text-align: center;
                opacity: 0;
                transition: opacity 1s linear;
            }
        }
    }

    .containerDispositivos__cita-tecnologia,
    .containerTrekking__cita-senderismo,
    .containerDeporte__cita-deporte,
    .containerBasquet__cita-basquet {
        font-size: 2rem;
        width: 40%;
    }



}